/Users/alejo/Documents/programming/GitHub Personal Projects/BibGraph-for-BibDesk/Extras
Users/alejo/Documents/programming/GitHub Personal Projects/BibGraph-for-BibDesk/Extras/example.jpg
/Users/alejo/Documents/programming/GitHub Personal Projects/BibGraph-for-BibDesk/Extras/example.png
/Users/alejo/Documents/programming/GitHub Personal Projects/BibGraph-for-BibDesk/Extras/full_sized_bibgraph.png
/Users/alejo/Documents/programming/GitHub Personal Projects/BibGraph-for-BibDesk/Extras/small_bibgraph.jpg
/Users/alejo/Documents/programming/GitHub Personal Projects/BibGraph-for-BibDesk/Extras/small_bibgraph.png